<!-- Carousel -->
<section id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./images/volunteer-activity1.jpg" class="d-block" alt="clean garbage image">
        </div>
        <div class="carousel-item">
            <img src="./images/volunteer-activity2.jpg" class="d-block" alt="planting tree image">
        </div>
        <div class="carousel-item">
            <img src="./images/volunteer-activity3.jpg" class="d-block" alt="clean garbage image">
        </div>
        <div class="carousel-item">
            <img src="./images/volunteer-activity4.jpg" class="d-block" alt="volunteer activity image">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<h1 class="text-center my-4">Welcome to the Volunteer Connect Portal</h1>
<button id="getInvolvedButton" class="btn btn-primary">Get Involved</button>