<h1 class="text-center my-4">Login page</h1>
<section class="row justify-content-center col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    <form>
        <div id="messageArea" class="d-none alert mb-3"></div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-25" id="loginButton">
                <i class="fa-solid fa-right-to-bracket me-1"></i>Login
            </button>
        </div>
    </form>
</section>
