<div class="container d-flex flex-wrap justify-content-between align-items-center ">
    <div class="col-md-6 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">Volunteer Connect</span>
    </div>
    <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#/privacy-policy">Privacy Policy</a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#/terms-service">Terms of Service</a></li>
    </ul>
</div>