<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Volunteer Connect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#/github.io/">
                        <i class="fa-solid fa-house me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#/github.io/opportunities">
                        <i class="fa-regular fa-lightbulb me-1"></i>Opportunities
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="github.io/events">
                        <i class="fa-regular fa-calendar me-1"></i>Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="github.io/contact">
                        <i class="fa-solid fa-phone-volume me-1"></i>Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="github.io/about">
                        <i class="fa-solid fa-circle-info me-1"></i>About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="github.io/statistics">
                        <i class="fa-solid fa-chart-line me-1"></i></i>Statistics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="github.io/event-planning">
                        <i class="fa-regular fa-calendar-plus me-1"></i></i></i>Event Planning
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="github.io/privacy-policy">Privacy Policy</a></li>
                        <li><a class="dropdown-item" href="github.io/terms-service">Terms of Service</a></li>
                        <li><a class="dropdown-item" href="github.io/news">News</a></li>
                        <li><a class="dropdown-item" href="github.io/gallery">Gallery</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a id="loginNav" class="btn btn-primary mx-3" aria-current="page" href="github.io/login">
            <i class="fa-solid fa-right-to-bracket"></i> Login
        </a>
    </div>
</nav>